
 .intro {font-family: sans-serif; text-align: center; font-size: 2em;}

 .introDesc {text-align: left; font-family: sans-serif; font-size: 1.2em; margin-left: 1em}

 .introBody {margin-left: 1em;}

/* Places*/ 


.places h1{font-family: calibri,sans-serif;
font-size: 2em;}
.places a{color: greenyellow;}

.placesBod body{background-color: lightseagreen;}
.placesFoot a{color: blue;}

