<<<<<<< HEAD
/* Places*/ 


.places h1{font-family: calibri,sans-serif;
font-size: 2em;}
.places a{color: greenyellow;}

.placesBod body{background-color: lightseagreen;}
.placesFoot a{color: blue;}
=======
/* actitivies */

.activities-title{
    text-align: center;
    background-color: black;
    color: azure;
    font-size: 3.5em;

}
.activitiesbody{
    padding: 2em;
    

}
>>>>>>> activities
